[submodule "Submodules/ue5-blueprint-mcp"]
	path = Submodules/ue5-blueprint-mcp
	url = git@github.com:astreltsovrg/ue5-blueprint-mcp.git
[submodule "Plugins/VoxelPlugin"]
	path = Plugins/VoxelPlugin
	url = https://github.com/VoxelPlugin/VoxelPlugin.git
